* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	/*line-height: 2;*/
}

header {
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 {
	color: #0145fe;
	font-size: 3em;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
header p {
	text-transform: capitalize;
}

 


/*      racipes list   */


.recipes-list  {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	list-style: none;
}
.recipes-list li {
	margin: 0 3rem;
}

.recipes-list li img {
	width: 10rem;
	margin-bottom: 0.5em;
}
.recipes-list li a {
	color: #fc9903;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1rem;
}

.recipes-list li a:hover {
	color: #0145fe;
	text-decoration: underline;
}







